﻿<div class="ui-full-height ui-inner-modal-container">
<div class="outer">
 <div class="js-modal middle" (window:keyup.esc)="onKeyUp($event)">

   <div class="modal-body container-fluid inner" [ngClass]="isSmallModal ?'modal-body-small':''">
      <div class="row">
        <div class="container-fluid border-bottom ui-modal-header ui-min-padding">
          <div class="row">
          <div class="col-sm-9">
            <h2 class="ui-modal-window-title float-left">{{modalTitle}}</h2>
          </div>
          <div class="col-sm-3">

          </div>
          </div>
        </div>
      </div>
        <div class="row">
            <div class="row text-center">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
  </div>
</div>
</div>



