﻿.close-alert-button {
    background-size: contain;
    border: none;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    margin: 0 10px;
}

.ui-inner-modal-container {
  position: fixed;
  top: 0; /*0*/
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
  overflow: auto;
}


.js-modal {
    /* modal container fixed across whole screen */
   /* position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;*/
    margin: auto;
    min-width: 200px;
    min-height: 200px;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    font-family: Heebo-Regular;



  background-color: rgba(124, 127, 130, 0.5);
}


.js-modal .modal-body {
  z-index: 1200;
    text-align: center;
    padding: 10px;
     margin-top: 50px;
     min-width: 200px;
     max-width: 550px;
     min-height: 150px;
    background: #fff;
    /* margin exposes part of the modal background */
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 15.4px 0.6px rgba(12, 14, 15, 0.16);
    border: solid 1px rgba(187, 187, 187, 0.27);
  background-color: rgba(255, 255, 255, 1);
}

 /* .ui-inner-modal-container .outer{
  background-color: #7c7f82;
  opacity: 0.5;
  z-index: 1000;
}

.js-modal .inner{
  opacity: 1!important;
} */

.js-modal .modal-body-small{
  width: 400px!important;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
     width: 100%;
    height: 100%;
    /* semi-transparent black  */
    background-color: #7c7f82;
    opacity: 0.5;
    /* z-index must be below .modal and above everything else  */
    z-index: 200;
}

.js-modal >>> .row {
    padding: 0;
}

.js-modal >>> .ui-modal-logo {
    width: 50px;
    height: 50px;
}

.js-modal >>> .ui-modal-logo.delete {
    fill: #b53e29;
}

.js-modal >>> .ui-modal-logo.alert {
    fill: #1b91e3;
}

.js-modal >>> .ui-title {
    font-size: 20px;
    padding: 40px 0;
    text-align: center;
}

.js-modal >>> .ui-text {
    font-size: 17px;
    padding: 27px 0;
    line-height: 1.5;
    text-align: center;
}

.js-modal >>> .button{
    font-weight: 400;
    width: 130px;
    text-transform: uppercase;
    vertical-align:top;
}


.js-modal >>> .button.blue {
    background-color: #1b91e3 !important;
    color: white !important;
}


.ui-modal-header {
  min-height: 40px;
}


.ui-close-icon-container{
  margin: 20px 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
  border: solid 1px #77787a;
}

.ui-modal-window-title{
  font-family: Heebo-Regular;
  font-size: 16px;

  line-height: 1.75;
  letter-spacing: -0.1px;

  color: #3c3c3d;
}

.ui-close-icon {
  padding-top: 3px;
  width: 9.9px;
  height: 9.9px;
  fill: #a2a5ab;
}

.ui-modal-min{
  width: 360px!important;
}
