﻿

<div *ngIf="formGroup.get(formName).invalid && (formGroup.get(formName).dirty || formGroup.get(formName).touched)" class="ui-error-msg">
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('required')">Empty</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('email')">Mail error</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('customEmail')">Mail error</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('phone')">Phone format: XXX XXX-XXXX or	+972 XX XXX-XXXX</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('pattern')">http://... or https://...</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('name')">השתמש לפחות ב - 4 אותיות באנגלית או בעברית</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('surname')">השתמש לפחות ב - 2 אותיות באנגלית או בעברית</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('simpleName')">השתמש לפחות ב - 2 אותיות באנגלית או בעברית ומספרים אחריהן</div>
  <div *ngIf="formGroup.get(formName).dirty && formGroup.get(formName).hasError('minlength')">
    <span class="ui-error-msg"> תווים המשלבים אותיות באנגלית, מספרים או תווים מיוחדים</span>
    {{formGroup.get(formName).errors.minlength?.requiredLength}}
    <span class="ui-error-msg ui-rtl"> ב-</span>
    <span class="ui-error-msg">השתמש לפחות </span>
  </div>
</div>
