﻿
<nav class=" navbar-default navbar fixed-top ui-menu-container">
  <div class="container ui-main-menu-container ui-no-padding">
    <div class="navbar float-left">

      <ul class="nav navbar-nav ui-main-menu"  >
        <li class="item"><a class="item" [routerLink]="['cameras']">
          <span class="ui-main-menu-text {{activeTab=='cameras'? 'active': ''}}">{{'cameras'|translate}}</span>
        </a></li>
        <li class="item"><a class="item" [routerLink]="['reporting']">
          <span class="ui-main-menu-text {{activeTab=='reporting'? 'active': ''}}">{{'reporting'|translate}}</span>
        </a></li>
        <li class="item"><a class="item" [routerLink]="['settings']">
          <span class="ui-main-menu-text {{activeTab=='settings'? 'active': ''}}">{{'settings'|translate}}</span>
        </a></li>

      </ul>
    </div>


    <div class="navbar float-right">
      <ul class="nav navbar-nav ui-main-menu">
        <select class="" [(ngModel)]="activeLang" (change)="SwitchLanguage(activeLang)" >
          <option *ngFor="let lang of langList" value="{{lang}}">{{ lang }}</option>
        </select>
        <li class="item"><a class="item" *ngIf = 'isLoggedIn'>
          <span class="ui-main-menu-text">{{currentUser?.user || 'Demo User'}}</span>
        </a></li>
        <li class="item"><a class="item" *ngIf = 'isLoggedIn'>
          <span class="ui-main-menu-text" (click)="OnLogoutClick()">{{'logout'|translate}}</span>
        </a></li>
        <li class="item"><a class="item" >
          <img src="./../../../assets/img/logo-round-without-text.png" class="ui-logo-image">
        </a></li>
      </ul>
    </div>
   </div>

</nav>
