﻿.ui-menu-container{
  background-color: black;
  color: white;
  border-bottom:solid 1px #dfe0e6;
  height: 80px;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.16);
  min-width: 900px!important;
  border-bottom: 3px solid #1b91e3;
}

.ui-main-menu {
display: inline-block!important;
  cursor: pointer!important;
}

.ui-main-menu  > li{
  display: inline-block!important;
  cursor: pointer!important;
}


.ui-main-menu > li > a {
padding: 0 10px;
  cursor: pointer!important;
  outline: none;
}

.ui-main-menu-text {
  min-width: 30px;
  max-height: 30px;
  padding-bottom: 20px;
  height: 11px;
  font-size: 16px;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: left;
  color: white;
}

.ui-logout-link{
  cursor: pointer;
  margin: 15px 25px;
}

.ui-logout-link span{
  font-family: Heebo-Regular;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: #77787a;
}

.ui-logout-link a:hover{
  outline: none;
  /*box-shadow: 0px 1px 4px 0 rgba(200, 200, 255, 0.6); */
}

.ui-main-menu-text:hover {
  font-weight: 600;
  color: #1b91e3;
}

.ui-main-menu-text.active {
  color: #1b91e3;
  font-weight: 600;
 /* border-bottom: solid 2px #009E4C;*/
}

.ui-glyphicon{
  font-size: 20px;
  color: black;
}

.ui-main-menu-icon {
  padding: 0;
  width: 29px;
  height: 30px;
  fill:  #b9bdc4;
}

.ui-main-menu-icon:hover{
  fill: #aaaeb5;
}

.ui-main-menu-div {
  text-align: center;
  vertical-align: middle;
  height: 40px;
  padding-top: 1px;
}


.ui-username-nav{
  float: left;
  display: inline-block;
  max-height: 54px;
  margin: 2px 20px 2px 5px ;
  cursor: pointer!important;
}

.ui-logo-image{
  width: 50px;
  height: auto;
}
