﻿<div class="container white border auth-window">
  <div  class="container-fluid">
    <div class="row">
      <label>{{'login'|translate}}</label>
      <input class="ui-full-width" name ='login' [(ngModel)]="auth.user" type="text">
    </div>
    <div class="row">
      <label>{{'password'|translate}}</label>
      <input class="ui-full-width" name ='pass' [(ngModel)]="auth.pass" type="password"  >
    </div>
    <div class="row">
      <div class="col-sm-12 ui-padding-min text-center">
        <input type="button" class="" value="Ok" [disabled]="(auth.pass == '' || auth.user =='')" (click)="OnLogin()"  />
      </div>
    </div>
</div>
