﻿.ui-video{
  width: 100%;
  height: 45%;
  border: 1px black solid;
}

.ui-video img{
  width: 100%;
  height: 100%;
  max-height: 410px;
}

.ui-video-list{
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-inline-block{
  display: inline-block;
}
.ui-small-image{
  width: 35px;
  height: 35px;
  margin: 1px;
  display: inline-block;
  float: right;
}

.ui-indicator{
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 10px;
  float: right;
}

.ui-tag-green{
  background-color: green;
}

.ui-tag-red{
  background-color: red;
}
