﻿<div class="container-fluid ui-main-container" >
  <div class="container">
     <div class="row">

     <div class="col-sm-8">

       <div class="row">
         <div  class="" *ngIf="activeVideo === undefined"  >
           <h3>{{'select_video'|translate}}</h3>
         </div>
       </div>

      <div class="row">
        <div  class="ui-video" *ngIf="activeVideo !== undefined"  >
          <img class="" [src]="activeVideo?.source||''" />
        </div>
      </div>

      <div class="row" *ngIf="activeVideo !== undefined">
        <h4>{{activeVideo?.name || ''}}</h4>
      </div>
      <div class="row" *ngIf="activeVideo !== undefined">
        <h6>{{activeVideo?.type || ''}}</h6>
      </div>
      <div class="row" *ngIf="activeVideo !== undefined">
        <h6>{{'active'|translate}} {{activeVideo?.isActive || false}} </h6>
      </div>

      <div class="row"  *ngIf="activeVideo !== undefined" >
        <a id="start" href="#" class="btn btn-success inline">
          <span class="glyphicon glyphicon-play"></span> Start
        </a>
        <a id="pause" href="#" class="btn btn-warning inline">
          <span class="glyphicon glyphicon-pause"></span> Pause
        </a>
        <a id="stop" href="#" class="btn btn-danger inline">
          <span class="glyphicon glyphicon-stop"></span> Stop
        </a>
      </div>

    </div>
    <div class="col-sm-4">
      <h4>{{'video_list'|translate}}</h4>
      <div class="list-group ui-video-list">
        <a *ngFor="let item of videoList; let i=index" href="#" class="list-group-item list-group-item-action" (click)="onVideoClick(item)">

            <h4 class="ui-inline-block">{{item.name}}</h4>
            <div class="ui-indicator" [ngClass]="{
                  'ui-tag-green': item.isActive,
                  'ui-tag-red': !item.isActive }"></div>
            <img class="ui-small-image" [src]="item?.source||''" />
        </a>
      </div>
    </div>
     </div>
  </div>

</div>

<alert></alert>
