﻿<div id="alert-wrapper">
    <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable ">
     <!--   <div class="alert-icon"><img src="/assets/images/{{img(alert)}}" /></div> -->
        <span class="alert-message">{{alert.message}}</span>
        <a class="alert-close close" (click)="removeAlert(alert)">
          <span class="glyphicon glyphicon-remove ui-card-glyphicon "></span>
        </a>
    </div>
</div>
