﻿ #alert-wrapper{
     position: fixed;
     left: 50%;
     bottom: 0;
     z-index: 1000;
     max-width: 100%;
   min-width: 350px;
 }

#alert-wrapper > .alert-dismissable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 10px;
   /* width: 25%; */
    margin: 0 0 35px;
    color: #fff;
    transform: translate(-50%,0);
    opacity: 1;
}

 #alert-wrapper > .alert-dismissable .alert-dismissable-autohide{
   opacity: 0;
   transition: opacity 2s linear!important;
 }

#alert-wrapper > .alert-dismissable.alert-success{
    background: rgba(0,158,8,.8);
}
#alert-wrapper > .alert-dismissable.alert-info {
    background: rgba(0,100,200,.8);
}
#alert-wrapper > .alert-dismissable.alert-warning {
  background: rgba(220,190,0,.8);
}
#alert-wrapper > .alert-dismissable.alert-error{
    background: rgba(181,62,41,.8);
}

#alert-wrapper > .alert-dismissable > .alert-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0
}
#alert-wrapper > .alert-dismissable > .alert-icon > img{
    width: 20px;
    height: auto;
}
#alert-wrapper > .alert-dismissable > .alert-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1000;
    font-family: 'Myriad Pro', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.296px;
    padding: 14px;
}
#alert-wrapper > .alert-dismissable > .alert-close {
    padding: 30px;
    cursor: pointer;
  top: 0!important;
  right: -35px!important;
  border-radius: 10px;
}
#alert-wrapper > .alert-dismissable > .alert-close > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22px;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0
}

#alert-wrapper > .alert-dismissable.alert-success > .alert-close{
    background: #007b3c;
}
#alert-wrapper > .alert-dismissable.alert-info > .alert-close{
    background: #0065a5;
}
#alert-wrapper > .alert-dismissable.alert-error > .alert-close {
    background: #8f2d20;
}
#alert-wrapper > .alert-dismissable.alert-warning > .alert-close {
  background: rgba(208,153,0,.8);
}
