html, body
  width: 100%
  height: 100%
  overflow: auto
  resize: none
  background: url('/assets/img/Accenture-The-quest-for-a-better-search-marquee.jpg') no-repeat
  -moz-background-size: 100%
  -webkit-background-size: 100%
  -o-background-size: 100%
  background-size: 100% 100%
.ui-text-res
  height: 25%
  background: url('/assets/img/avatar.png') no-repeat 100% 100%
  background-size: cover
  text-align: center
  vertical-align: middle
  line-height: 20px
  word-wrap: break-word
.ui-image
  width: 100%
  height: auto
.ui-image-container
  margin: 10px
  width: 100%
  position: relative
.ui-custom-canvas-container
  border: 1px solid darkgray
  position: absolute
  display: block
  top: 0
  z-index: 100
  width: 100%
  height: 100%
.ui-loader-container
  margin: 20px
  height: 190px
.ui-result-container
  height: 45px
.ui-loader-img
  height: 150px
.ui-content-center
  justify-content: center
.ui-full-width
  width: 100%!important
.ui-border
  border: 1px solid darkgray
.ui-tab-cell
  padding: 5px
.ui-tab-span
  margin: 5px
.row
  padding: 10px 15px!important
.outer
  display: table
  position: absolute
  height: 100%
  width: 100%
.middle
  display: table-cell
  vertical-align: middle
.inner
  margin-left: auto
  margin-right: auto
modal
  display: none
  &.custom-modal
    .modal-body
      height: auto
      width: 440px
      border-radius: 4px
    .modal-title
      font-family: Heebo-Regular
      font-size: 20px
      font-weight: 600
      text-align: center
      color: #1e242c
body
  &.modal-open
    overflow: hidden
.ui-dashboard-content
  margin-top: 120px
.ui-main-container
  background-color: white
  border-bottom: 5px solid #1b91e3
  border-top: 5px solid #1b91e3
  min-height: 650px
  box-shadow: 0 4px 16px 4px rgba(12, 14, 15, 0.16)
input[type="text"],
input[type="password"],
input[type="number"]
  padding: 5px 10px
  width: auto
  height: 40px
  margin: 0
  font-family: Heebo-Regular
  font-size: 16px
  line-height: 1.57
  letter-spacing: -0.1px
  border-radius: 2px
  background-color: #ffffff
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.08)
  border: none
  border-bottom: solid 2px #1ba8ff
  color: #77787a
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover
  outline: none
  border: none
  border-bottom: solid 2px #007496
input[type="text"].active,
input[type="password"].active,
input[type="number"].active
  outline: none
  border: none
  border-bottom: solid 2px #007496
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus
  outline: none
  border: none
  border-bottom: solid 2px #007496
input
  &::placeholder
    font-family: Heebo
    font-size: 13px
    line-height: 2
    letter-spacing: -0.1px
    color: #b9bdc4
    text-align: right
    text-overflow: ellipsis!important
    direction: rtl
input[type="button"]
  padding: 5px 15px
  width: 220px
  height: 40px
  border-radius: 2px
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.16)
  margin: 5px
  font-size: 16px
  line-height: 1.57
  text-align: center
  border-radius: 25px
  background-color: white
  outline: none
  color: #007496
  border: solid 1px #007496
  border-bottom: solid 2px #007496
input[type="button"]:hover
  color: lightblue
  background-color: #007496
  border: solid 1px white
input[type="button"]:active
  color: lightblue
  background-color: #007496
  border: solid 1px white
input[type="button"]:disabled
  border: solid 1px  #80C9FF!important
  color: #80C9FF !important
  background-color: white!important
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.16)!important
.ui-file-container
  padding: 7px 15px
  width: 220px
  height: 40px
  border-radius: 25px
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.16)
  margin: 0
  font-size: 16px
  line-height: 1.57
  text-align: center
  background-color: white
  outline: none
  color: #007496 !important
  border: solid #007496 1px
  border-bottom: solid #007496 2px
  overflow: hidden
  position: relative
  -ms-touch-action: manipulation
  touch-action: manipulation
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  &:hover
    background-color: #007496
    .ui-file-container-title
      color: lightblue
      background-color: #007496!important
      outline: none!important
  &:active
    .ui-file-container-title
      color: lightblue
      outline: none!important
      background-color: #007496!important
  [type=file]
    cursor: inherit
    display: block
    filter: alpha(opacity=0)
    min-height: 100%
    min-width: 100%
    opacity: 0
    position: absolute
    right: 0
    text-align: right
    top: 0
    cursor: pointer
.ui-file-container-title
  height: 40px
  width: 100%
  vertical-align: middle!important
  margin: 0
  font-size: 16px
  line-height: 1.57
  text-align: center
  color: #007496
  outline: none!important
  &:hover
    outline: none!important
    color: white
    background-color: #007496!important
.ui-padding-min
  padding: 0px 5px!important
.ui-span-dark-grey
  font-size: 14px
  color: #282829
.ui-span-grey
  font-size: 12px
  color: gray
.ui-bottom-container-log
  width: 100%
  min-height: 260px
.ui-bottom-container
  width: 100%
  min-height: 100px
.ui-bottom-row
  position: absolute
  bottom: 0px
  width: 100%
.ui-highlight-green
  color: forestgreen
.ui-highlight-red
  color: red
.ui-highlight-bold
  font-weight: bold
.ui-overflow-span
  text-align: center
  width: 100%
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  display: inline-block
